In [4]:
import pandas as pd

df = pd.read_csv('data.csv')
df.head()

,Id,Title,FullDescription,LocationRaw,LocationNormalized,ContractType,ContractTime,Company,Category,SalaryRaw,SalaryNormalized,SourceName
0,12612628,Engineering Systems Analyst,Engineering Systems Analyst Dorking Surrey Sal...,"Dorking, Surrey, Surrey",Dorking,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 30000/annum 20-30K,25000,cv-library.co.uk
1,12612830,Stress Engineer Glasgow,Stress Engineer Glasgow Salary **** to **** We...,"Glasgow, Scotland, Scotland",Glasgow,NaN,permanent,Gregory Martin International,Engineering Jobs,25000 - 35000/annum 25-35K,30000,cv-library.co.uk
2,12612844,Modelling and simulation analyst,Mathematical Modeller / Simulation Analyst / O...,"Hampshire, South East, South East",Hampshire,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 40000/annum 20-40K,30000,cv-library.co.uk
3,12613049,Engineering Systems Analyst / Mathematical Mod...,Engineering Systems Analyst / Mathematical Mod...,"Surrey, South East, South East",Surrey,NaN,permanent,Gregory Martin International,Engineering Jobs,25000 - 30000/annum 25K-30K negotiable,27500,cv-library.co.uk
4,12613647,"Pioneer, Miser Engineering Systems Analyst","Pioneer, Miser Engineering Systems Analyst Do...","Surrey, South East, South East",Surrey,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 30000/annum 20-30K,25000,cv-library.co.uk

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
Id                    10000 non-null int64
Title                 9999 non-null object
FullDescription       10000 non-null object
LocationRaw           10000 non-null object
LocationNormalized    10000 non-null object
ContractType          3556 non-null object
ContractTime          4737 non-null object
Company               5951 non-null object
Category              10000 non-null object
SalaryRaw             10000 non-null object
SalaryNormalized      10000 non-null int64
SourceName            10000 non-null object
dtypes: int64(2), object(10)
memory usage: 937.6+ KB

## Student's code 1

In [19]:
#Student's code

#!/usr/bin/env python

import pandas as pd
import numpy as np
from sklearn import LinearRegression
from sklearn.cross_validation import cross_val_score

# Load data
d = pd.read_csv('../data/train.csv')


# Setup data for prediction
x1 = data.SalaryNormalized
x2 = pd.get_dummies(data.ContractType)

# Setup model
model = LinearRegression()

# Evaluate model
from sklearn.cross_validation import cross_val_score
from sklearn.cross_validation import train_test_split
scores = cross_val_score(model, x2, x1, cv=1, scoring='mean_absolute_error')
print(scores.mean())

ImportError: cannot import name 'LinearRegression'

### Corrected code

In [24]:
#!/usr/bin/env python

import pandas as pd
import numpy as np
# from sklearn import LinearRegression
from sklearn.linear_model import LinearRegression
#from sklearn.cross_validation import cross_val_score
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_absolute_error, make_scorer

# Load data
# d = pd.read_csv('../data/train.csv')
d = pd.read_csv('data.csv')

# Setup data for prediction
#x1 = data.SalaryNormalized
x1 = d.SalaryNormalized
# x2 = pd.get_dummies(data.ContractType)
x2 = pd.get_dummies(d.ContractType)

# Setup model
model = LinearRegression()

# Evaluate model
# from sklearn.cross_validation import cross_val_score
# from sklearn.cross_validation import train_test_split
# from sklearn.model_selection import train_test_split
# scores = cross_val_score(model, x2, x1, cv=1, scoring='mean_absolute_error')
scorer = make_scorer(mean_absolute_error)
scores = cross_val_score(model, x2, x1, cv=3, scoring = scorer)
print(scores.mean())

11914.734881928345

**Code Review:**

Code:
1. Use the update packages for `sklearn`. Instead of `cross_validation`, use `model=selection`. `LinearRegression` also requires `linear_model` to be called first.
2. Import functions should be on the top of the script.
3. Student load data as `d`, so it should be`d` for `x1` and `x2`.
4. There are so many features besides `ContractType`, so students should find the most correlated features before using this feature to determine the amount of the salary.
5. There is also an error in scoring method, please refer to the corrected code on how to do that.

Methodology:
1. Exploratory Data Analysis is a must. Explore more on the dataset.
2. Evaluate with various model
3. Understand what is the target and what is the metrics that student should use to achieve the target.

Conceptual Understanding:
1. Student should understand how LinearRegression works and what is the other best model to be used besides Linear Regression for this problem

## Student's code 2

In [30]:

#!/usr/bin/env python

import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.cross_validation import cross_val_score

# Load data
data = pd.read_csv('../data/train.csv')


# Setup data for prediction
y = data.SalaryNormalized
X = pd.get_dummies(data.ContractType)

# Setup model
model = LinearRegression()

# Evaluate model
scores = cross_val_score(model, X, y, cv=5, scoring='mean_absolute_error')
print(scores.mean())

ModuleNotFoundError: No module named 'sklearn.cross_validation'

In [29]:
#!/usr/bin/env python

import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
# from sklearn.cross_validation import cross_val_score
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_absolute_error, make_scorer

# Load data
# data = pd.read_csv('../data/train.csv')
data = pd.read_csv('data.csv')


# Setup data for prediction
y = data.SalaryNormalized
X = pd.get_dummies(data.ContractType)

# Setup model
model = LinearRegression()

# Evaluate model
scorer = make_scorer(mean_absolute_error)
scores = cross_val_score(model, X, y, cv=5, scoring=scorer)
print(scores.mean())

11822.140231295069

**Code Review**:

Code:
Looks good. Besides `cross_validation` old `sklearn@ package` and `scoring` problem, everything is written beautifully.

Methodology:
There is no feature engineering done. Exploratory Data Analysis is a must. Student needs to find the most correlated features before decided on the features to be used. 

Conceptual Understanding:
Student should understand the data more than he/she can move forward to modeling and scoring method.